* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

nav {
	width: 50%;
	margin: 0 auto;
	text-align: center;
}


li {
	display: inline-block;
	position: relative;
	list-style: none;
}

.banner {
	width: 100%;
	height: 50px;
	margin-bottom: 50px;
}

.form-body {
	background-image: url(/img/new-form-background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

body {
	color: white;
}

.form-header {
	width: 50%;
	margin: 50px auto 20px;
	text-align: center;
	font-size: 3em;
	color: #fcfc41;
	position: relative;
	bottom: 15px;
	text-shadow: -3px 4px 15px #d11818;
}

.form-navbar a {
	text-decoration: none;
	position: relative;
	top: 26px;
	margin-right: 25px;
	font-size: 1.2em;
	color: #c0c0c0;
}

.form-navbar a:hover {
	color: #fff;
}

form {
	width: 20%;
	margin: 15px auto;
	padding: 10px;
	color: #fcfc41;
	background-color: #6a6a6a;
	position: relative;
	top: 30px;
	border-radius: 10px;
}

label {
	font-size: 1.3em;
	margin-bottom: 10px;
}

input#private {
	margin-left: 20px;
}

input,
textarea,
select {
	margin-top: 10px;
}

textarea {
	width: 100%;
}

select#collection {
	width: 100%;
	height: 30px;
}

.video-input {
	width: 100%;
	height: 30px;
}

input[type="submit"] {
	width: 100%;
	margin-bottom: 10px;
	height: 30px;
	border-radius: 10px;
}

input[type="submit"]:hover {
	background-color: #a0a0a0;
}

/* Form Footer */
.form-footer {
	height: 60px;
	width: 100%;
	margin-bottom: 5px;
	color: #fff;
	position: relative;
	top: 70px;
}

hr {
	margin: 20px 0;
}