* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

.featured-body {
	background-image: url(/img/background-image.jpg);
}

/* Featured Header Styling */
.featured-header {
	color: #fffb00;
	width: 50%;
	margin: 0 auto 20px;
	text-align: center;
	font-size: 3em;
	animation: featured-header-grow 3s ease-in infinite alternate,
		featured-header-color 3s ease-in infinite alternate;
}

@keyframes featured-header-grow {
	from {
		font-size: 3.5em;
	}

	to {
		font-size: 2.5em;
	}
}

@keyframes featured-header-color {
	from {
		color: #fffb00;
	}

	to {
		color: #ea0000;
	}
}

nav {
	width: 50%;
	margin: 0 auto;
	text-align: center;
}


li {
	display: inline-block;
	position: relative;
	list-style: none;
}

.banner {
	width: 100%;
	height: 50px;
	margin-bottom: 50px;
}

.featured-navbar a {
	text-decoration: none;
	position: relative;
	top: 26px;
	margin-right: 25px;
	font-size: 1.2em;
	color: #ea0000;
}

.featured-navbar a:hover {
	color: #ff6262;
}

/* Feature Styling */

.featured-table {
	padding: 10px;
	width: 100%;
	border: 5px solid #ea0000;
	border-radius: 10px;
	animation: featured-border-animation 3s ease-in-out infinite alternate;
}

@keyframes featured-border-animation {
	0% {
		border-color: #ff9d00;
	}

	25% {
		border-color: #ffc000;
	}

	50% {
		border-color: #ffd800;
	}

	75% {
		border-color: #ffef00;
	}

	100% {
		border-color: #fffb00;
	}
}

td {
	width: 33%;
	text-align: center;
	vertical-align: middle;
}

.featured-link {
	color: #ea0000;
	margin: 10px auto 15px;
	border: 1px solid gray;
	width: 30%;
	background-color: black;
	border-radius: 10px;
}


.featured-link a {
	text-decoration: none;
	color: #ea0000;
	margin-bottom: 10px;
}

h2 a:hover {
	color: #ff6262;
}

iframe {
	margin: 40px 30px 5px;
}

/* Featured Footer */
.featured-footer {
	height: 60px;
	width: 100%;
	margin-bottom: 5px;
	color: #fff;
	position: absolute;
	bottom: 0;
}




/* Collection One Styling */

.collection-one-body {
	background-image: url(/img/gaming-background.png);
	background-repeat: no-repeat;
	background-size: cover;
}

/* Collection One Header Styling */
.collection-one-header {
	width: 50%;
	margin: 50px auto 20px;
	text-align: center;
	font-size: 3em;
	background-image: linear-gradient(-225deg, #ec7b19 0%, #6FC3DF 29%, #d640a4 67%, #E6FFFF 100%);
	background-size: 200% auto;
	color: #fff;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: text-clip 6s ease-in-out infinite alternate;
}

@keyframes text-clip {
	to {
		background-position: 200% center;
	}
}


/* Collection One Nav Styling */

.collection-one-navbar a {
	text-decoration: none;
	position: relative;
	top: 26px;
	margin-right: 25px;
	font-size: 1.2em;
	color: #6FC3DF;
}

.collection-one-navbar a:hover {
	color: #E6FFFF;
}

/* Collection One Styling */
.collection-one-table {
	width: 95%;
	margin: 0 auto;
	border: 3px solid #6FC3DF;
	border-radius: 10px;
	position: relative;
	top: 50px;
	animation: collection-one-border 6s ease-in-out infinite alternate;
}

@keyframes collection-one-border {
	0% {
		border-color: #ec7b19;
	}

	29% {
		border-color: #6FC3DF;
	}

	67% {
		border-color: #d640a4;
	}

	100% {
		border-color: #E6FFFF;
	}
}


iframe {
	border-radius: 10px;
	border: 1px solid black;
}

collection-one-table h2 {
	margin: 10px auto 15px;
}

.collection-one-link {
	margin: 10px auto 15px;
	width: 43%;
	border: 1px solid #ec7b19;
	color: #ec7b19;
	background-color: #0c5c76;
	border-radius: 10px;
}

.collection-one-link a {
	text-decoration: none;
	color: #ec7b19;
	margin-bottom: 10px;
}

.collection-one-link a:hover {
	color: #adeaff;
}


/* Collection One Footer */
.collection-one-footer {
	height: 60px;
	width: 100%;
	margin-bottom: 5px;
	color: #fff;
	position: relative;
	top: 70px;
}

hr {
	margin: 20px 0;
}

/* Collection Two Styling */

.collection-two-body {
	background-image: url(/img/anime-background.jpg);
	background-color: #6FC3DF;
	background-repeat: no-repeat;
	background-size: cover;
}

/* Collection Two Header Styling */

.collection-two-header {
	width: 50%;
	margin: 50px auto 20px;
	text-align: center;
	font-size: 3em;
	color: #C61BC6;
	animation: jump 1s infinite, color-change 3s ease-in-out infinite alternate;
}

@keyframes jump {
	0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}

@keyframes color-change {
	from { color: #C61BC6; }
	to { color: #ffb7c5; }
}

.collection-two-navbar a {
	text-decoration: none;
	position: relative;
	top: 26px;
	margin-right: 25px;
	font-size: 1.2em;
	color: #ffb7c5;
}

.collection-two-navbar a:hover {
	color: #61FFC5;
}

 /* Collection Two Styling */
.collection-two-table {
	width: 95%;
	margin: 0 auto;
	border: 3px solid #6FC3DF;
	border-radius: 10px;
	position: relative;
	top: 50px;
}

.collection-two-link {
	margin: 10px auto 15px;
	width: 43%;
	border: 1px solid #ffb7c5;
	background-color: #460246;
	border-radius: 10px;
}

.collection-two-link a {
	text-decoration: none;
	color: #ffb7c5;
	margin-bottom: 10px;
}

.collection-link a:hover {
	color: #61FFC5;
}