* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	background-image: url(/img/gaming-background.png);
	background-repeat: no-repeat;
	background-size: cover;
}

nav {
	width: 50%;
	margin: 0 auto;
	text-align: center;
}

a {
	text-decoration: none;
	position: relative;
	top: 26px;
	margin-right: 25px;
	font-size: 1.2em;
	color: #6FC3DF
}

a:hover {
	color: #E6FFFF;
}

h1 {
	width: 50%;
	margin: 50px auto 20px;
	text-align: center;
	font-size: 3em;
	color: #6FC3DF;
	animation: color-change 3s ease-in-out infinite alternate;
}

@keyframes color-change {
	from { color: #6FC3DF; }
	to { color: #a8a8a8; }
}

.content-body {
	width: 35%;
	margin: 30px auto;
	text-align: center;
	background-color: #6FC3DF;
	border: 5px solid #E6FFFF;
	border-radius: 10px;
}

iframe {
	margin: 30px auto;
	border-radius: 10px;
	border: 1px solid black;
}

p {
	width: 80%;
	margin: 10px auto 20px;
	padding: 10px 5px 10px;
	border: 3px solid #E6FFFF;
	border-radius: 5px;
	font-size: 1.2em;
	background-color: #3a3a3a;
	color: #e2e2e2;
	letter-spacing: 3px;
	line-height: 25px
}

/* Footer */
footer {
	height: 60px;
	width: 100%;
	margin-bottom: 5px;
	color: #fff;
	position: relative;
	top: 70px;
}

hr {
	margin: 20px 0;
	position: relative;
	top: 70px;
}
